<html>
    <head>
        {% if title %}
        <title>{{ title }} - Local Music</title>
        {% else %}
        <title>Welcome to Josh's Local Music Emporium</title>
        {% endif %}
    </head>
    <body>
        <div>Josh's Local Music Emporium: <a href = {{ url_for('index')}}>Home</a>, <a href= {{ url_for('listOfArtists') }}>Artists</a>, <a href= {{ url_for('createNewArtist') }}>Add New Artist</a></div>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </body>
</html>